body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(80, 25, 25);
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="text"],
textarea {
  background-color: #818180d3;
  color: #000;
  border: 1px solid #ccc;
  margin: auto;
  padding: 3px;

}

/* Style for placeholder text */
input::placeholder,
textarea::placeholder {
  color: black;
}

/* Style for the submit button */
button {
  background-color: #9b3225ab;
  color: #000000;
  border: 1px solid rgb(80, 25, 25);
  margin: auto;
  margin-top: 5px;
  padding: 3px;
}

/* Style for horizontal rule */
hr {
  border-color: #000000;
}